{{ if or (.Date) (ne .Params.Kind "page") }}
<div class="date">
    <time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
</div>
{{ end }}
<article>
    {{ if eq (.Scratch.Get "isMainPage") "true"  -}}
    <h4> 
        {{ range .Params.categories }}
        {{ $name := . }}
        <a href="/tags/{{ $name | urlize }}" >【{{ $name }}】 &nbsp; - &nbsp;</a>
        {{ end }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    {{ else -}}
    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    {{- end -}}
    
</article>