{{ if or (.Date) (ne .Params.Kind "page") }}

{{ end }}
<article>
    {{ if eq (.Scratch.Get "isMainPage") "true"  -}}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ else -}}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{- end -}}
    
    <div class="tags">
        {{ range .Params.tags }}
        {{ $name := . }}
        <a href="/tags/{{ $name | urlize }}" class="pure-button">{{ $name }}</a>
        {{ end }}
        <div class="date">
            <time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        </div>
    </div>
    
    <!--{{ replace .Content "<table>" "<table class='pure-table pure-table-striped'>" | safeHTML }}-->
</article>